body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rbg(17, 25, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll; /* Allow scrolling */
}

.page-title {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.box {
    width: 45%; /* Adjusted to fit two columns with small space */
    height: calc((100vh / 10) - 10px); /* Adjusted to fit more boxes on the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Thin black border */
    border-radius: 10px;
    background-color: #f8f8f8;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    text-align: center; /* Ensure text is centered */
    font-size: 12px; /* Adjust font size for labels */
}

.box:hover {
    background-color: #e0e0e0;
}

.box:active {
    background-color: #000000;
    color: white;
}
